#appContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    .todo-list-wrapper {
        background-color: #15334d;
        width: 65rem;
        border-radius: 20px;
        overflow: hidden;
        color: "#fff";

        .todo-list-top {
            height: 6rem;
            padding: 1.5rem;
            border-bottom: 1px solid transparent;
            box-shadow: 0 1px 20px 0;
            margin-bottom: 3rem;

            .top-wrapper {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    width: 20%;
                }

                .date-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 0.5rem;

                    p {
                        &:first-child {
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        &:last-child {
                            font-weight: 400;
                        }
                    }
                }

                .title {
                    font-size: 2.5rem;
                    font-weight: 600;
                }

                .svg-wrapper {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    svg {
                        width: 40px;
                        height: 40px;
                        color: #59f9ff;
                    }
                }
            }
        }

        .todo-list-section-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .input-wrapper {
                margin-bottom: 3.5rem;
                input[type="text"] {
                    width: 25rem;
                    height: 2.5rem;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    margin-right: 1rem;
                    background-color: #59f9ff;
                    outline: none;
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    transition-duration: 0.4s;

                    &:focus,
                    &:hover {
                        background-color: #fff;
                        transition-duration: 0.4s;
                    }
                }

                button {
                    height: 2.5rem;
                    width: 3rem;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    background-color: #59f9ff;
                    font-size: 1.2rem;
                    transition-duration: 0.4s;

                    &:hover {
                        cursor: pointer;
                        background-color: #fff;
                        transition-duration: 0.4s;
                    }
                }
            }

            .list-wrapper {
                width: 40rem;
                border: 3px solid #59f9ff;
                border-radius: 10px;
                margin-bottom: 3rem;
                .detail-list-wrapper {
                    margin: 1.4rem;
                    .detail-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.5rem 1.2rem;

                        &.has-line {
                            border-bottom: 1px solid #59f9ff;
                            border-bottom-width: 3px;
                            padding-bottom: 1rem;
                            padding-top: 0.5rem;
                        }
                    }
                    .icon-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        gap: 0.7rem;

                        svg {
                            width: 30px;
                            height: 30px;
                            color: #59f9ff;
                            transition-duration: 0.4s;
                            &:hover {
                                cursor: pointer;
                                color: #fff;
                                transition-duration: 0.4s;
                            }
                        }
                    }
                    p {
                        color: #fff;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}
